@import '../../styles/animations.scss';
@import '../../styles/styles.scss';

.info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 1000px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    margin: auto;
    margin-top: 130px;
    padding-top: 60px;
    border-radius: 20px;
    opacity: 0%;
    animation: opacity 4s 3200ms forwards;
    z-index: 10;
    box-shadow: 0px 5px 50px 0px $primary;

    h1 {
        font-size: 28px;
        color: $primary;
        text-align: center;
        font-weight: 600;
        margin-top: 0px;
    }

    h2 {
        color: $primary;
        font-weight: 300;
    }
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -85px;
    border-radius: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
    
    img {
        display: flex;
        margin-top: 40px;
        margin-right: 6px;
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        scale: 130%;  
    }
    
    &:hover {
        transform: scale(1.1);
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 900px;
    height: 100%;
    align-items: center;
    text-align: justify;
    background-color: $tertiary;
    margin: auto;
    margin-top: -2px;
    margin-bottom: 20px;
    padding: 40px;
    opacity: 0%;
    border-radius: 0px 0px 20px 20px;
    animation: opacity 4s 6500ms forwards;
    transition: background-color 1s ease, border 1s ease;

    h2 {
        color: $primary;
        text-align: center;
        margin-top: 8px;
    }

    p {
        color: $primary;
        margin-top: 40px;
        margin-bottom: 30px;
        line-height: 2.0;
    }
}

.about-container.scrolled {

    background-color: $primary;
    border: 1px solid $secondary;

    h2 {
        color: $secondary;
    }

    p {
        color: $tertiary;
    }
}

.logo-unip {
    width: 160px;
    height: auto;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
    
    img {
        width: 70px;
        height: auto;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.card {
    width: 290px;
    height: auto;
    margin-bottom: 30px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.logo-codigocerto {
    width: 140px;
    height: auto;
}

