$primary: #000000;
$secondary: #e53939;
$tertiary: #ffffff;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: $secondary;
    gap: 5px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    overflow: hidden;

    p:first-of-type {
        font-size: large;
        font-weight: 600;
        animation-duration: 3s;
        animation-name: slidein-left;
        animation-fill-mode: forwards;
    }

    p:last-of-type {
        font-weight: 300;
        animation-duration: 3s;
        animation-name: slidein-right;
        animation-fill-mode: forwards;
    }

    @keyframes slidein-left {
        from {
            color: $secondary;
            transform: translateX(-1000%);
        }
        to {
            color: $primary;
            transform: translateX(0);
        }
    }

    @keyframes slidein-right {
        from {
            color: $secondary;
            transform: translateX(1000%);
        }
        to {
            color: $primary;
            transform: translateX(0);
        }
    }
}

